.MoviesContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.MoviesContent .movies-img {
    flex-basis: 18.6%;
    min-height: 352px;
    max-height: 352px;
    transition: all .3s ease-in-out;
    position: relative;
    margin: 26px 1.4% 0px 0px;
    height: 352px;
    overflow: hidden;
}

.MoviesContent .movies-img:hover {
    transform: scale(1.1, 1.1);
}

.MoviesContent .movies-img .favourite {
    position: absolute;
    z-index: 99;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.MoviesContent .movies-img .overlay {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay_color);
    opacity: 0;
}

.MoviesContent .movies-img .overlay:hover {
    opacity: 1;
}

@media(max-width:1100px) {
    .MoviesContent .movies-img {
        flex-basis: 23.6%;
    }
}

@media(max-width:920px) {
    .MoviesContent .movies-img {
        flex-basis: 31.9%;
    }
}

@media(max-width:720px) {
    .MoviesContent .movies-img {
        flex-basis: 48.6%;
    }
}

@media(max-width:520px) {
    .MoviesContent .movies-img {
        flex-basis: 90%;
        margin: 26px auto 0px
    }
}

@media(max-width:460px) {
    .MoviesContent .movies-img {
        flex-basis: 100%;
        margin: 26px auto 0px
    }
}